@charset "utf-8";
/* CSS Document */

.abc {
	font-family: "新宋体";
	font-size: 12pt;
}
.navi {
	font-family: "新宋体";
	font-size: 12pt;
	background-color: #FFFFFF;
}
a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}
a:hover{
 text-decoration:underline;  /*鼠标放上去有下划线*/
}